.custom-button-storage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}
  
  .custom-button-storage:hover {
    filter: brightness(1.1);
  }
  
  .button-icon {
    width: 20px;
    height: 20px;
  }
  