/* .header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem 2rem 2rem 0;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 92vw;
    overflow: hidden;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
  }
  
  .header-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    margin: 0;
  }
  
  .header-subtitle {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    letter-spacing: 0.4px;
    margin: 0.3rem 0 0 0;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;    
  }
  
  .buttons-group {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
  }
  
  .header-buttons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .header-buttons button {
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    height: 40px;
    text-align: center;
  }
   */