.summary-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #F5F5F5;
    width: 100%;
  }
  
  .summary-text {
    flex: 2;
    overflow: hidden; /* Garante que o texto não ultrapasse o limite */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    text-overflow: ellipsis; /* Adiciona os "..." ao final do texto, se necessário */
    text-align: left; /* Alinha o texto à esquerda */
    padding-left: 10px; /* Adiciona um pequeno espaçamento à esquerda */
    max-width: 100%; /

  }
  
  .summary-quantity {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .summary-actions {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .edit-actions {
    display: flex;
    align-items: center;
  }
  
  .quantity-input {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0;
    outline: none;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
  
  /* Remove as setinhas dos inputs de número */
  .quantity-input::-webkit-inner-spin-button,
  .quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .quantity-text {
    font-size: 16px;
    font-weight: bold;
  }
  
  .icon-button-delete {
    background-color: #FFC9C9;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
  }

  .icon-button-delete:hover {
    background-color: #FFAAAA; /* vermelho mais forte */
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
    border: none;
  }
  
  .icon-button-edit {
    background-color: #A5D7FF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
  }

  .icon-button-edit:hover {
    background-color: #80C6FF; /* azul mais forte */
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
    border: none;
  }
  
  .icon-image {
    width: 20px;
    height: 20px;
  }
  